[submodule "components/amp/thirdparty/opus"]
	path = components/amp/thirdparty/opus
	url = https://github.com/xiph/opus.git
[submodule "components/amp/thirdparty/ogg"]
	path = components/amp/thirdparty/ogg
	url = https://github.com/xiph/ogg.git
